.feedHeader {
    display: flex;
    justify-content: space-between;
}

.feedHeader #updates {

    background: none !important;
    border: none;
    border-bottom: solid 0.4em #04D1DF;
    width: auto;

}

#card,
.feedHeader {
    padding: 1.5em;
    border: none;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    ;
}


.card-footer {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    margin-top: 1em;
    border-top: solid 2pt #EDEDF6;
    padding-top: 1em;
}


#card-section {
    display: grid;
    grid-template-columns: 15% 85%;
}


/* Media Queries for responsiveness */

@media (max-width: 767px) {

    #card-section {
        display: block;
    }

    #profile-feed {
        display: none;
    }

}