.membersidebar ul {
    border: none;
    padding-left: 0.5em !important;
}

.membersidebar ul li {
    list-style: none;

}

.membersidebar ul li img {
    width: 20%;
    height: 2em;
    border: solid #E7E8F0;
}

#profile-image {
    position: relative;
    height: 3em;
    width: 3em;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#profile-image::before {

}

.membersidebar {
    padding: 1.3em;
    border: none;
    background: white;
    border-radius: 15px 15px 15px 15px;
}

#members {
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 30% 70%;
}
.membersidebar ul{

    padding-left: 0!important;
}