.popularsection {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-top: 0;
    padding: 1.3em;

}


.populargroups {
    background-color: white;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.populargroups p {
    white-space: nowrap;
}

.populargroups img {
    width: 25%;
    float: right;

}

.popularsection ul {
    padding-left: 0 !important;
}