.header {
    position: relative;
    z-index: 9;
    background: white;
}

.upperNav {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    z-index: 9999;

}

.upperNav div {
    border: solid;
    text-align: center;
}

.upperNav div:nth-child(3) {
    text-align: right;
}

.upperNav .header-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}



.box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--accent);
    margin: 0;
}

li {
    display: block;
}

button {
    -webkit-appearance: button;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.item {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 240px;
    line-height: 260px;
    font-weight: 700;
    border-radius: 30px;
}