.header {
    position: relative;
    z-index: 9;
    padding: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #5D5DF5;
}

.upperNav {
    display: grid;
    grid-template-columns: 40fr 40fr 20fr;
    z-index: 9999;

}

.upperNav div {
    border: none;
    text-align: center;
}

.upperNav div:nth-child(3) {
    text-align: right;
}

.upperNav .header-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--accent);
    margin: 0;
}

li {
    display: block;
}

button {
    -webkit-appearance: button;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.item {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 240px;
    line-height: 260px;
    font-weight: 700;
    border-radius: 30px;
}


.header-menu-list {
    padding: 0.5em;
    position: absolute;
    border: none;
    text-align: left;


}

.header-menu-list li {
    border: none;
    margin-top: 0.5em;
}

#headsection-one {
    border: none;
    display: grid;
    grid-template-columns: 40% 60%;
}

.header .logo {
    border: none;
    display: grid;
    grid-template-columns: 33% 55% 15%;
    white-space: nowrap;

}

.header .search {
    position: relative;

}

.header .search input {
    width: 60%;
    border: none;
    border-radius: 10px 10px 10px 10px;
    background: #4B4AC4;
    padding: 0.5em;
}

.header .search input:focus {

    border: none;
}

.header .search .search-icon {
    position: absolute;
    right: 7em;
    top: 0.35em;
    cursor: pointer;
}

.header .login #login-button {
    border: none;
    width: 30%;
    text-align: center;
    background: #00D2E1;
    color: white;
    padding: 1em;
    padding-top: 0.5em;
    border-radius: 10px 10px 10px 10px;
}

.header .logo,
.header .login,
.header ul li {
    cursor: pointer;
}

.feature-menu button,
.more-menu button {
    background: transparent;

}