.dashboardsidebar {
    z-index: 9;
    border: none;
    width: 4.5%;
    position: absolute;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    transition-duration: 0.5s;
}



.dashboardsidebarfull {
    transition-duration: 0.5s;
    overflow: hidden;
    z-index: 9;
    border: none;
    width: 15%;
    position: absolute;
    box-sizing: border-box;

}


.active {
    transition-duration: 0.5s;
    width: 100%;
    overflow: hidden;
    background-color: #00D2E1;
    box-shadow: 10px 10px 10px #D8F8FB;

}

#sidebnar-navigation {
    transition-duration: 0.7s;
    border: none;
    border-radius: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    overflow: hidden;
    cursor: pointer;

}

#sidebnar-navigation button {
    background: transparent;

}


.none {
    transition-duration: 0.5s;
    width: 0;
    display: none
}

.title {
    display: block;

}

.dashboardsidebar li,
.dashboardsidebarfull li {
    margin-top: 1em;
}

.dashboardsidebar ul,
.dashboardsidebarfull ul {
    padding-left: 0.5em;
    transition-duration: 0.5s;
}

#sidebnar-navigation:hover {
    transition-duration: 0s;
    width: 100%;
    overflow: hidden;
    background-color: #00D2E1;
    box-shadow: 10px 10px 10px #D8F8FB;

}