.dashboardsidebar {
    z-index: 999;
    border: none;
    width: 4.3%;
    position: absolute;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    transition-duration: 0.5s;
}



.dashboardsidebarfull {
    transition-duration: 0.5s;
    z-index: 9;
    border: none;
    width: 15%;
    position: absolute;
    box-sizing: border-box;
}


.active {
    transition-duration: 1s;
    background-color: #00D2E1;
    box-shadow: 10px 10px 10px #D8F8FB;
    opacity: 1;
}

#sidebnar-navigation {
    transition-duration:1s;
    border: none;
    border-radius: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    overflow: hidden;
    cursor: pointer;

}

#sidebnar-navigation button{
    background: transparent;

}
.none {
    transition-duration: 1s;
    display: none
}
.title{
    transition-delay: 1s;
    display: block;

}
.dashboardsidebar li,
.dashboardsidebarfull li {
    margin-top: 1em;
}

.dashboardsidebar ul,
.dashboardsidebarfull ul {
    padding-left: 0.5em;
}