.dashboardsidebar {
    transition-duration: 0.5s;
    z-index: 9;
    border: none;
    width: 4.5%;
    position: absolute;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
 
}



.dashboardsidebarfull {
    transition-duration: 0.3s;
    overflow: hidden;
    z-index: 9;
    border: none;
    width: 15%;
    position: absolute;
    box-sizing: border-box;

}


.active {
    transition-duration: 0s;
    width: 100%;
    overflow: hidden;
    background-color: #00D2E1;
    box-shadow: 10px 10px 10px #D8F8FB;
    z-index: 1;
}

#sidebnar-navigation {
    transition-duration: 0.3s;
    border: none;
    border-radius: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    overflow: hidden;
    cursor: pointer;

}

#sidebnar-navigation button {
    background: transparent;
    width: 100%;
    height: 100%;

}


.none {
    transition-duration: 0.5s;
    width: 0;
    display: none;
    z-index: 0;
}

.title {
    display: block;

}

.dashboardsidebar li,
.dashboardsidebarfull li {
    margin-top: 1em;
    transition-duration: 0s;
}

.dashboardsidebar ul,
.dashboardsidebarfull ul {
    padding-left: 0.5em;
    transition-duration: 0.5s;
}

#sidebnar-navigation:hover {
    transition-duration: 0s;
    width: 100%;
    overflow: hidden;
    background-color: #00D2E1;
    box-shadow: 10px 10px 10px #D8F8FB;

}
#sidebnar-navigation div{
    padding: 0.5em;

}
/* Media Queries for responsiveness */
@media (max-width: 991px){   
.dashboardsidebar ul, .dashboardsidebarfull ul {
        padding: 0em;
        margin-left: -0.5em;
    }

}