/* @font-face {
  font-family: local('Teko');
  src: url('./fonts/Teko-Light.ttf');
} */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* font-family: Teko!important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

Col{
  text-align: center;
}

.container{
background: #F2F2F9;

}

.main-div{
  padding-left: 4em!important;
  padding-right: 4em!important;
  padding-top: 3em;

}